.sortable-list {
	list-style-type: none;
	padding        : 0;
	margin         : 0;
}

.sortable-list li {
	display         : flex;
	align-items     : center;
	padding         : 10px;
	border          : 1px solid #ccc;
	margin-bottom   : 10px;
	transition      : background-color 0.2s ease-in-out;
}

.sortable-list li.sortable-item.dragging {
	opacity   : 0.5;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.drag-handle {
	cursor : pointer;
	color  : #999;
	padding: 0 10px;
}
