.delete-button:hover {
    color: red;
}

.MuiCardActions-root {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.card:hover .MuiCardActions-root {
    opacity: 1;
    visibility: visible;
}